{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}

<div class="logo">
    <h1 id="logo1">Sound</h1><h1 id="logo2">Xone</h1>
</div>

<h4>WELCOME</h4>

<p>Welcome to <a href="/"><h7 id="logo1">Sound</h7><h7 id="logo2">Xone</h7></a> my final project for CS50's Introduction to Computer Science.</p>
<p><a href="/"><h7 id="logo1">Sound</h7><h7 id="logo2">Xone</h7></a> is a web app which features audio sequencers, where you can create beats and melodies; synths and drum pads, which can be played live using
your touchscreen, mouse or keyboard and an audio visualizer, where you can upload music from your device and change different perameters to see what cool effects you can get.
Take a look around and have fun playing around with the different features of this application.</p>

<h5 id="signed">My name is Greg and this was CS50.<h5>


<div id="home-launchpad"></div>
<div id="home-synth"></div>

{% endblock %}